@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Remove fixed height or flex styles here if present */
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.bg-background {
  position: relative; /* Ensure container position */
}

.bg-background::before {
  content: ""; /* Create a pseudo-element for the background */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("paper-texture.jpg"); /* Your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4; /* Apply opacity only to the background */
  z-index: -1; /* Place pseudo-element behind content */
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 1.5rem 0;
  width: 100%;
}

.background-container {
  position: relative;
  width: 100%;
  flex: 1; /* Allow it to grow and fill the available space */
  overflow: hidden; /* Keep overflow behavior for the background video */
}

.text-container {
  text-align: left;
  margin-bottom: 16px;
}
